<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebSocketNotifierClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebSocketNotifierClient.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value>ws://testserver:8081/jenkins</value>
            </setting>
            <setting name="BalloonTipTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ShowErrorOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsInitialized" serializeAs="String">
                <value>False</value>
            </setting>
        </WebSocketNotifierClient.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>